<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .header {
            background-color: #007bff;
            color: white;
            text-align: center;
            padding: 20px 0;
            margin-bottom: 0;
        }
        .footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
        .role-buttons a {
            margin: 0 10px;
        }
        .logout-link {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1000;
        }
        .logout-link a {
            color: white;
        }
        .content {
            flex: 1;
            padding: 20px;
            background: #f4f4f4;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Welcome to BricoService</h1>
        </div>

        <div class="content">
            {% if user.is_authenticated %}
                <div class="logout-link">
                    <a href="{% url 'logout' %}" class="btn btn-outline-light">Logout</a>
                </div>
                <div class="text-center mb-4">
                    <h2>Hello, {{ user.username }}!</h2>
                </div>
                <div class="role-buttons text-center">
                    {% if role == 'Customer' %}
                        <p class="lead">Role: Customer</p>
                        <a href="" class="btn btn-primary btn-lg">Profile</a>
                        <a href="" class="btn btn-secondary btn-lg">View Offers</a>

                    {% elif role == 'Mancraft' %}
                        <p class="lead">Role: Mancraft</p>
                        <a href="" class="btn btn-primary btn-lg">Profile</a>
                        <a href="" class="btn btn-secondary btn-lg">Create Service</a>
                        <a href="" class="btn btn-info btn-lg">View Requests</a>
                    {% endif %}
                </div>
            {% else %}
                <p class="text-center">Please log in.</p>
            {% endif %}
        </div>

        <footer class="footer">
            <p>© 2023 BricoService</p>
        </footer>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
