<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
            background: #f4f4f4;
        }
        .header {
            background-color: #007bff;
            color: white;
            text-align: center;
            padding: 20px 0;
        }
        .container, .row {
            height: 100%;
        }
        .form-container {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width: 100%;
            max-width: 400px;
            margin: auto;
        }
        .row {
            display: flex;
            align-items: center; /* This will align the form to the middle vertically */
            justify-content: center;
        }
        .form-control, .btn {
            height: 45px;
            margin-bottom: 10px;
        }
        .btn-primary {
            width: 100%;
        }
        .footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .errorlist {
            color: red;
            padding: 0;
            list-style: none;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>BricoService</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="form-container">
                <h2 class="text-center">Register</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="errorlist">{{ form.non_field_errors }}</div>
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        <div class="errorlist">{{ form.username.errors }}</div>
                    </div>
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        <div class="errorlist">{{ form.email.errors }}</div>
                    </div>
                    <div class="form-group">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                        <div class="errorlist">{{ form.password1.errors }}</div>
                    </div>
                    <div class="form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                        <div class="errorlist">{{ form.password2.errors }}</div>
                    </div>
                    <div class="form-group">
                        {{ form.is_mancraft.label_tag }}
                        {{ form.is_mancraft }}
                    </div>
                    <div class="form-group">
                        {{ form.is_customer.label_tag }}
                        {{ form.is_customer }}
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
                <p class="text-center mt-4">Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>© 2023 BricoService</p>
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
